* {
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  justify-content: end;
}
.navbar-brand {
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
.nav-link {
  font-size: small;
  font-family: sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
  padding: 0px;
}
.one {
  background: linear-gradient(
      0deg,
      rgba(3, 3, 3, 0.7),
      rgba(151, 149, 149, 0.7)
    ),
    url(/backgroundimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
/* about section */
#img {
  height: 100%;
  width: 100%;
  border-style: none;
  vertical-align: top;
  max-width: 100%;
}
/*  end about*/

/*  start of work section */
.work {
  background-color: rgb(194, 191, 191);
}
.header {
  text-align: center;
  border-bottom: 2px solid black;
}

.navi-bar {
  background-color: rgba(0, 0, 0, 0.3);
}

.work .work-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.work .work-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}
.work .work-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050505;
  margin-bottom: 10px;
}

.work .work-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}
/* end of timeline */

/* start of carousel */
#button{
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel .carousel-item {
  text-align: center;
  background-color: rgb(148, 143, 143);
  height: 400px;
}
.testimonials {
  background-color: rgb(148, 143, 143);
}
.carousel .carousel-item .d-block {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .d-block img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: bold;
}
h2 {
  font-size: large;
  font-family: sans-serif;
  color: rgb(236, 245, 245);
}
.bi-arrow-down-short:hover {
  color: #f7f8f9;
}
.button {
  border-radius: 50%;
}
/* end of carousel */

/* start of form */
.form{
  background-color: rgb(17, 17, 17);
}
.container-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 60%; 
  padding-left: 10%; 
  padding-right: 10%;
}
/* end of form */
